

@-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-ms-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@-o-keyframes blink {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}


/*LETTERS*/

.animation {
	font-size: 2em;
	text-transform: uppercase;
	cursor: pointer;
}

.animation span {
	display: inline-block;
	position: relative;
	padding: 0.5em 0.2em;
}

.animation span.animate {
	animation: bounce 1.5s ease-in-out;
	animation-iteration-count: 1;
}

.animation span.animate:nth-child(2n) {
	animation: bounce2 1.5s ease-in-out;
}

.animation span.animate:nth-child(3n) {
	animation: bounce3 1.5s ease-in-out;
}

@keyframes bounce {
	0% {
		transform: translateY(0) rotate(0);
	}

	50% {
		transform: translateY(-0.5em) rotate(30deg);
	}

	70% {
		transform: translateY(0.3em) rotate(-5deg);
	}

	90% {
		transform: translateY(-0.1em) rotate(2deg);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}

@keyframes bounce2 {
	0% {
		transform: translateY(0) rotate(0);
	}

	50% {
		transform: translateY(-0.5em) rotate(-10deg);
	}

	70% {
		transform: translateY(0.3em) rotate(30deg);
	}

	90% {
		transform: translateY(-0.1em) rotate(-10deg);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}

@keyframes bounce3 {
	0% {
		transform: translateY(0) rotate(0);
	}

	60% {
		transform: translateY(-1em) rotate(60deg);
	}

	80% {
		transform: translateY(0.5em) rotate(-20deg);
	}

	90% {
		transform: translateY(-0.2em) rotate(5deg);
	}

	100% {
		transform: translateY(0) rotate(0);
	}
}
