a {
    transition: all 300ms 50ms linear;
}

#mainNav {
    z-index: 9999;
}

.container-box {
    width: 100%;
    padding: 0 10px;
}

nav .container-box {
    background-color: #111;
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: white;
}

nav {
    position: fixed;
    min-height: 50px;
    max-height: 50px;
    overflow: hidden;
    width: 100%;
    top: 0;
    transition: all 0.5s;
}

.navbox {
    float: right;    
}

nav.open-nav {
    max-height: 100vh;
}

nav.open-nav .navbox {
    display: block;
}

nav ul {
    list-style: none;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    margin: 0 0 0 1rem;
    min-width: 100px;
    text-align: center;
}

nav ul li a:hover {
    letter-spacing: 0.1em;
	color: white;
}

.myname:hover {
    letter-spacing: 0.1em;
	color: white;
}

nav ul a, .myname {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height:normal;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
	outline: none;
}

nav ul a.active {
    color: royalblue;
}

/*ГАМБУРГЕР*/
.nav-toggle {
    display: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    /*transition: all 200ms ease-in;*/
}

.scrollup {
    color: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    position: fixed;
    display: none;
    bottom: 50px;
    right: 100px;
}

@media only screen and (max-width: 766px) {
    nav.open-nav {
        min-height: 100vh;
    }

    nav .navbox {
        display: none;
        position: absolute;
        width: 100%;
        right: 0;
        top: 50px;
        z-index: 9;
        float: none;
        background-color: white;
        color: black;
    }

    .nav-toggle {
        display: block;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .navbox ul li a {
        color: #111;
    }

    nav ul li {
        margin-bottom: 2rem;
    }
}
